lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.pyc

pids
logs
results

npm-debug.log
mapmyfitness_apikeys.py
mapmyfitness_apikeys.pyc
mapmyfitness_tokens.json
moves.env
client_secrets.json

node_modules
authdata.js
crontab.env
gpgexport
settings.py
numerous-env.sh
numerous_apikey.py
withings_auth.py
citibike_auth.js
todoist_auth.py
persist/
temp*.js
monitor_iphone_env.sh
wifi-password.txt
pi-opensensors-password.txt
dash_config.py
